---
import { CollectionEntry, getCollection } from 'astro:content';
import FooterComponent from '../../components/FooterComponent.astro';
import HTMLHeadComponent from '../../components/HTMLHeadComponent.astro';
import Navbar from '../../components/Navbar.astro';
import SwiperConfig from '../../components/SwiperConfig.astro';
export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;

const title=post.data.title;
---


<!DOCTYPE html>
<html lang="en">
    <HTMLHeadComponent title={title}/>
    <SwiperConfig/>
    <script is:inline>
      const recentInsights=false;
  </script>
<body class="bg-dark_blue font-Inter">
    <Navbar/>

    <div class="banner-section bg-blog-banner-bg bg-top mb-10 md:mb-40 bg-size-100 bg-no-repeat">
      <div class="container max-w-screen-xl mx-auto px-4">
        <div class="grid  md:grid-cols-12 gap-0 md:gap-5"></div>
          <div class="lg:col-span-8 md:col-span-10 sm:col-span-10">
              <div class="">
                  <h1 class="h1-style text-white mt-28 md:mt-80 mb-5 md:mb-16">{post.data.title}</h1>
                  <p class="text-white">{post.data.date.toISOString().substring(0, 10)}</p><br/>
				  <p class="text-white">{post.data.blogcategories}</p><br/>
				  <p class="text-white">Tags: {post.data.blogtags}</p><br/><br/>
				  <pre class="text-white" style="white-space: pre-wrap">{post.body}</pre>

                    <!-- <p class="text-right mt-5"><a href="#" class="text-deep-red"> Sunan Ibn Mājah : 224 </a></p> -->
              </div>
          </div>
          <div class="lg:col-span-4 md:col-span-2  sm:col-span-2">
          </div>        
        
        <div class="grid md:grid-cols-12 gap-0 md:gap-5 mt-10 md:mt-36">
            <div class="md:col-span-6 mb-4 md:mb-0">
                <div class="blue-gr-box relative pr-12"> 
                    <h4 class="text-white">San Fransisco, CA</h4>
                    <a href="#" class="absolute top-4 right-3"><svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect y="11.6309" width="24" height="2" fill="white"/>
                      <rect x="11" y="0.630859" width="2" height="24" fill="white"/>
                      </svg> </a>
                </div>
            </div>  
            <div class="md:col-span-6 mb-4 md:mb-0">
                <div class="blue-gr-box relative pr-12"> 
                    <h4 class="text-white">San Diego, CA</h4>
                    <a href="#" class="absolute top-4 right-3"><svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect y="11.6309" width="24" height="2" fill="white"/>
                      <rect x="11" y="0.630859" width="2" height="24" fill="white"/>
                      </svg> </a>
                </div>
            </div>     
            <div class="md:col-span-6 mb-4 md:mb-0">
                <div class="blue-gr-box relative pr-12"> 
                    <h4 class="text-white">Boston, Massachusetts</h4>
                    <a href="#" class="absolute top-4 right-3"><svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect y="11.6309" width="24" height="2" fill="white"/>
                      <rect x="11" y="0.630859" width="2" height="24" fill="white"/>
                      </svg> </a>
                </div>
            </div>
            <div class="md:col-span-6 mb-4 md:mb-0">
                <div class="blue-gr-box relative pr-12"> 
                    <h4 class="text-white">Dallas, TX</h4>
                    <a href="#" class="absolute top-4 right-3"><svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect y="11.6309" width="24" height="2" fill="white"/>
                      <rect x="11" y="0.630859" width="2" height="24" fill="white"/>
                      </svg> </a>
                </div>
            </div>
        </div>
      </div>
    </div>
    <FooterComponent/>
</body>
</html>

