---
import { CollectionEntry, getCollection } from 'astro:content';
export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{post.data.title}</title>
</head>
<body>
	<div class="container mx-auto">
		<h1 class="text-4xl font-extrabold dark:text-black text-center">{post.data.title}</h1><br/>
		<h6 class="mb-3 font-extrabold text-gray-700 dark:text-black text-center">{post.data.date.toISOString().substring(0, 10)}</h6><br/>
		<p class="mb-3 font-extrabold text-gray-700 dark:text-black">Catagories: {post.data.blogcategories}</p>
		<p class="mb-3 font-extrabold text-gray-700 dark:text-black">Tags: {post.data.blogtags}</p><br/>
		<pre class="text-l" style="white-space: pre-wrap">{post.body}</pre>
		<br/><br/>
		<div class="text-center"><a href="../"><button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Back to home</button></a></div>
		<br/><br/>
	</div>
	

	
</body>
</html>