---
import { getCollection } from 'astro:content';
const posts=await getCollection('blog');
const sorted = posts.sort(
  (objA, objB) => Number(objA.data.date) - Number(objB.data.date),
).reverse();
let numArr=[0,1,2,3,4,5,6]
---
{
    numArr.map((num)=>{
        const date=sorted[num].data.date.toLocaleString('default', {  month:'long', day: 'numeric', year: 'numeric',weekday: 'long' }).split(" ");
        const path="blog/"+sorted[num].slug;
        return(
            <div class="swiper-slide">
                <div class="grid md:grid-cols-12 gap-0 md:gap-10">
                    <div class="md:col-span-6">
                        <img src="/images/read-quran-2.png"/>
                    </div>  
                    <div class="md:col-span-6 table">
                        <div class="table-cell align-middle pt-8 md:pt-0">
                            <img src="/images/calendar.svg" class="mr-1 float-left"/><p class="text-white text-xl inline-block mt-1">{date[0]} {date[2].split(',')[0]} {date[1]}, {date[3]} </p>
                            <h2 class=" text-white mb-8 mt-4">{sorted[num].data.title}</h2>
                            <p class="text-white text-opacity-75  mt-5">{sorted[num].body.substring(0,200)} ...</p>
                            <a href={path} class="bg-deep-red py-3 px-5 text-white mt-5 inline-block"> Read more </a>
                        </div> 
                    </div>     
                </div>
            </div>
        );
    })
}